<% if(device != null ) { %>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%- device.name %></li>
    </ol>
  </nav>


  <div class="row">

    <div class="col-12 col-md-4">
      <img src="/uploads/<%- device.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- device.name %>" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12"><h1><%- device.name %></h1></div>
        <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- device.category %></div>
        <div class="col-12" style="white-space: pre-line;">
          <h4>About device</h4>
          <%- device.description %>
          <h4>Price: <%- device.price %></h4>
          
        </div>
      </div>

      
    </div>
  </div>

<form action="/cart" method="POST">
      <input type="hidden" name="_id" value="<%= device._id %>">
      <input type="hidden" name="name" value="<%= device.name %>">
      <input type="hidden" name="description" value="<%= device.description %>">
      <input type="hidden" name="price" value="<%= device.price %>">
      <input type="hidden" name="category" value="<%= device.category %>">
      <input type="hidden" name="image" value="<%= device.image %>">
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>
<% } else { %>
  <p>No item found.</p>
<% } %>