<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/hero-image.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Shopping With Node.js">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3"
        data-aos="zoom-out"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-once="true">Huge selection of delicios device ideas</h1>
    <p class="lead"
       data-aos="flip-up"
       data-aos-delay="150"
       data-aos-duration="1000"
       data-aos-once="true">
      Explore our huge selection of delicious device ideas including; easy desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta devices, quick bakes, family-friendly meals and gluten-free devices.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

  </div>

</div>


<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">


  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
      <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%- category.name %></div>
      </a>
    <% }) %>
  <% } %>

  <a href="/categories" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="img/all.jpg" alt="View All Categories" loading="lazy">
    </div>
    <div class="pt-1">View All</div>
  </a>

</div>
<!-- Categories End -->



<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Top devices</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"
       data-aos="zoom-out"
       data-aos-delay="150"
       data-aos-duration="1000"
       data-aos-once="true">
    <% if(typeOfDevice !== 'undefined' && typeOfDevice.mobile.length > 0) { %>
      <% typeOfDevice.latest.forEach(function(device, index){ %>
      <a href="/device/<%= device._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= device.image %>" alt="<%= device.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= device.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section>
<!-- Latest End -->

<!-- Thai Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2 data-aos="fade-in">Phones</h2>
    <a href="/categories/Thai" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"
       data-aos="zoom-out"
       data-aos-delay="150"
       data-aos-duration="1000"
       data-aos-once="true">
    <% if( typeOfDevice.mobile !== 'undefined' && typeOfDevice.mobile.length > 0) { %>
      <% typeOfDevice.mobile.forEach(function(device, index){ %>
      <a href="/device/<%= device._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= device.image %>" alt="<%= device.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= device.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Thai End -->

<!-- American Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Computers</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"
       data-aos="zoom-out"
       data-aos-delay="150"
       data-aos-duration="1000"
       data-aos-once="true">
    <% if(typeOfDevice.computer != '') { %>
      <% typeOfDevice.computer.forEach(function(device, index){ %>
      <a href="/device/<%= device._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= device.image %>" alt="<%= device.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= device.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- American End -->







<!-- Submit - Start -->
<% if (currentUser) { %>
<section id="submit-section" class="px-4 py-5 my-5 text-center">
  <img src="/img/public-laptop.png" class="d-block mx-auto mb-4 img-fluid" alt="Publish your device for FREE today" width="366" height="108" loading="lazy">
  <h1 class="display-5 fw-bold">Add the device</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Publish your device</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="<%= currentUser.role==='admin' ? '/submit-device' : '#submit-section' %>" class="btn btn-primary btn-dark btn-lg" onclick="<%= currentUser.role==='user' ? 'showNotification()' : '' %>">Submit device</a>
    </div>
  </div>
</section>
<% } %>

  <script>
    // function initMap() {
    //     let map;
    //     let opt = { 
    //         centerr: {lat: 43.235238, lng: 76.909626}, 
    //         zoom:15
    //     }
    //     map = new google.maps.Map(document.getElementById("map"),opt );
    // }

    let map;

    async function initMap() {
      const { Map } = await google.maps.importLibrary("maps");
      map = new Map(document.getElementById("map"), {
        center: {lat: 43.235238, lng: 76.909626},
        zoom: 15,
      });
    }

    initMap();
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxbhW07A_Y5RuWIYby7WNWANRx1-uDZDI&callback=initMap" async defer> 
  google.maps.event.addDomListener(window, "load", initialize);
  </script>

<!-- Submit - End -->
<div id="map"></div>

